.hotel-lists{
    padding-top: 20px;
}
.hotel-card{
    padding: 10px;
    cursor: pointer;
    height: 100px;
}
.hotel-card:hover{
    border: 2px solid #2a7de1;
}
.right-navbar{
    float: right;
}
.search-bar{
    padding: 10px 109px;
}