<div class="card">
    <div class="card-body">
    <h6 class="card-name">{{cardContent.name}}</h6>

    <div class="card-sub-body">
        <b>Host Name: </b> {{cardContent.host_name}} 
    </div>
    <div class="card-sub-body">
        <b>Neighbourhood: </b> {{cardContent.neighbourhood}} 
    </div>
    <div class="card-sub-body">
        <b>Room Type: </b> {{cardContent.room_type}} 
    </div>
    <div class="card-sub-body">
        <b>Price: $</b> {{cardContent.price}} 
    </div>
    </div>
</div>